//variables

$Montserat-font: 'Montserrat';
$Kaushan-font: 'Kaushan Script';
$Roboto-font: 'Roboto';
$font-col-white: #ffffff;
$font-col-black: #333333;
$font-col-grey:  #999999;
$before-col: #f38181;