@import "helpers/_variables";
@import "helpers/_layout";

//variables

$Montserat-font: 'Montserrat';
$Kaushan-font: 'Kaushan Script';
$Roboto-font: 'Roboto';
$font-col-white: #ffffff;
$font-col-black: #333333;
$font-col-grey:  #999999;
$before-col: #f38181;

*{
    margin: 0;
    padding: 0;
    // font-size: 0;
    border: 0;
    box-sizing: border-box;
}

// Container

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;

    @media (max-width: 1100px){
        max-width: 750px;
    }

    @media (max-width: 992px) {
        max-width: 800px;
            }

    @media (max-width: 768px) {
        max-width: 650px;
        }
    
    @media (max-width: 576px) {
        max-width: 420px;
        }
}

// Intro

.intro {
    width: 100%;
    height: 100vh;
    background: url("../images/Layer_15.png") center no-repeat;
    background-size: cover;
    position: relative;
    padding: 40px 0;
    display: flex;

    @media (max-width: 767px) {
    align-items: center;
    justify-content: center;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    }
}

.header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        align-items: center;
        padding: 0 15px;
        background: rgba(44, 43, 43, 0.5);
        left: 0;
        top: 0;
        height: 50px;
        width: 100%;
        max-width: none;
        position: fixed;
        z-index: 99;
    }

    &__logo {
        position: relative;
        color: $font-col-white;
        font-family: $Montserat-font;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 99;
    }

    &__burger {
        width: 25px;
        height: 2px;
        background-color: $font-col-white;
        display: none;
    
        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: $font-col-white;
            transition: 0.3s;
        }
    
        &::before{
            transform: translateY(-7px);
        }
    
        &::after {
            transform: translateY(7px);
        }
    
        @media (max-width: 767px) { 
            display: block;
            z-index: 99;
        }
        
        &_active {
            height: 0;
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}

.navigation {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        width: 200px;
        top: 0;
        right: 0;
        height: 100%;
        padding: 300px 25px 0 0;
        opacity: 0;
        transition: all  0.3s ease-in-out;
        background-color: #212121;
    }  

    &_mobile {
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        top: 0;
        right: 0;
        padding: 75px 25px 0 0;
        background-color: #212121;
    }

    &__link {
        color: $font-col-white;
        font-family: $Montserat-font;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 50px;
        transition: all 0.3s ease-in-out;
        z-index: 1;

        @media (max-width: 992px) {
            margin-left: 25px;
        }

        @media (max-width: 767px){
            margin: 0;
            font-size: 22px;
        }

        &:hover{
            color: #fce38a;
        }

        &::after{
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fce38a;
            opacity: 0;
            transition: all 0.6s ease-in-out;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

.fa-search,
.fa-shopping-cart {
    font-size: 15px;
    color: $font-col-white;
    transition: all 0.4s ease-in-out;

    &:hover{
        color: #fce38a;
    }
}

.intro-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    align-self: center;
    padding-top: 75px;

    @media (min-width: 1400px){
        padding-top: 200px;
    }

    @media (max-width: 1024px) and (min-width: 676px) {
        padding-top: 260px;
    }

    @media (max-width: 576px) {
        padding-top: 0;
    }

    &__title {
        color:$font-col-white;
        font-family: $Kaushan-font;
        font-size: 72px;
        font-weight: 400;
        z-index: 1;

        @media (max-width: 992px) {
            font-size: 50px;
        }
    }

    &__text {
        color: $font-col-white;
        font-family: $Montserat-font;
        font-size: 150px;
        font-weight: 700;
        line-height: 140px;
        text-transform: uppercase;
        z-index: 1;
        max-width: 840px;
        padding-top: 40px;

        @media (max-width: 992px) {
            padding: 20px 0;
            font-size: 70px;
            line-height: 90px;
        }

        @media (max-width: 576px) {
            font-size: 40px;
            line-height: 50px;
            padding: 30px 0 10px 0;
        }
        
        &::after{
            content: "";
            display: block;
            margin: 40px auto;
            width: 10%;
            height: 3px;
            background-color: $font-col-white;
            transition: all 0.6s ease-in-out;

            @media (max-width: 992px) {
                margin: 15px auto;
            }

            @media (max-width: 576px){
                margin: 30px auto;
            }
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
        border: 3px solid #ffffff;
        text-decoration: none;
        z-index: 1;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $font-col-black;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        &_style {
            color: $font-col-white;
            font-family: $Montserat-font;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;  
        }
    }
}


// Story-about-us

.story-about-us {
    padding: 90px 0;

    @media (max-width: 767px){
        padding: 40px 0;
    }

}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-promo {
    display: flex;
    justify-content: space-between;
}

.promo-block {
    position: relative;
    width: 32%;
    background-color: #95e1d3;

    &:hover &__img {
        transform: translate3d(-10px, -10px, 0);
    }

    &:hover &__gradient {
        transform: translate3d(-10px, -10px, 0);
        opacity: 1;
    }

    &__img {
        width: 100%;
        transition: all 0.2s ease-in-out;
    }

    &__gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
        opacity: 0;
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_text {
            color: $font-col-white;
            font-family: $Montserat-font;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 10px;
        }
    }
}

// Counter line

.counter {
    display: flex;
    width: 100%;
    background-color: #95e1d3;
}


.counter-inner {
    display: flex;
    justify-content: flex-start;
}
.counter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 270px;
    width: 20%;
    border: 1px solid white;
    padding: 0 5px;
    border-top: none;
    border-bottom: none;

    @media (max-width: 1100px) {
        padding-top: 80px;
        justify-content: flex-start;
    }

    @media (max-width: 768px) {
        padding-top: 35px;
        height: 150px;
    }

    @media (max-width: 576px) {
        height: 90px;
        padding-top: 20px;
    }

    @media (max-width: 320px) {
        display: none;
    }

    &__number {
        color: $font-col-white;
        font-family: $Montserat-font;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 40px;
        }

        @media (max-width: 576px) {
            font-size: 25px;
        }
    }
}

// Amazing sevices

.amazing-services {
    padding: 90px 0;

    @media (max-width: 767px){
        padding: 40px 0;
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-box {
    display: flex; 
    flex-direction: column;
    position: relative;

    &__row {
        display: flex;
        margin-bottom: 100px;

        @media (max-width: 767px) {
            flex-direction: column;
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &::after{
            content: "";
            position: absolute;
            bottom: 50%;
            width: 100%;
            height: 1px;
            background-color: #e5e5e5;
            transition: all 0.6s ease-in-out;

            @media (max-width: 767px){
                display: none;
            }
        }
    }

    &__items {
        display: flex;
        margin: 0 30px;

        @media (max-width: 767px) {
        margin: 0 0 30px 0;
        }
    }

    &__img {
        width: 32px;
        height: 31px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }
}

.text-mont14px {
    &_marg-bot{
        margin-bottom: 20px;

        @media (max-width: 767px) {
            margin-bottom: 10px;
            }
    }
}

// Unique-design

.unique-design {
    width: 100%;
    background: url("../images/imageedit_1_5055957645.png") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;

    @media (max-width: 767px) {
        padding-top: 40px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.img-block {
    position: relative;
    
    @media (max-width: 767px){
        width: 60%;
    }
    

    &__tablet {
        width: 100%;
    }

    &__phone {
        position: absolute;
        width: 40%;
        bottom: -55px;
        right: -110px;

        @media (max-width: 767px){
            bottom: -25px;
            right: -55px;
        }
    }
}

// What we do 

.what-we-do {
    padding: 90px 0;

    @media (max-width: 767px){
        padding: 40px 0;
    }
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 50%;
        height: 100%;

        @media (max-width: 767px){
            display: none;
        }
    }
}

.accordion {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767px){
        width: 100%;
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-left: 10px;

        @media (max-width: 767px){
            margin: 0;
        }
    }
}

.photography,
.web-design,
.creativity{
        border: 1px solid #e5e5e5;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px 15px 15px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            padding: 15px 25px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        
        &:hover .text-mont14px {
            font-size: 16px;
            letter-spacing: 1.3px;
        }

        &__icon {
            margin-right: 15px;
        }

        &__arrow {
            transition: all 0.3s ease-in-out;
            &_up {
                transform: rotate(180deg);
            }
        }
}

.web-design-text-box,
.creativity-text-box,
.photography-text-box {  
    border: 1px solid #e5e5e5;
    overflow: scroll;
    height: 0;
    text-align: start;
    transition: all 0.3s ease-in-out;


    &_active {
        height: 165px;
    }

    &__text {
        color: #999999;
        font-family: $Roboto-font;
        font-style: italic;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin: 20px 40px 20px 20px;
        transition: all 0.3s ease-in-out;
    }
}

.fa-angle-down
 {
    font-size: 15px;
    color: $font-col-black;
    transition: all 0.4s ease-in-out;
}


// Comments

.comment {
    background-color: #f8f8f8;
    padding: 70px 0;

    @media (max-width: 767px) {
        padding: 35px 0;
    }
}

.comment-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__img {
        margin-right: 30px;
        padding-left: 45px;

        @media (max-width: 767px){
            display: none;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        padding-right: 45px;

        @media (max-width: 767px){
            padding: 10px 20px;
        }
    }

    &__text {
        color: $font-col-grey;
        font-family: $Roboto-font;
        font-style: italic;
        font-size: 24px;
        font-weight: 400;

        @media (max-width: 767px){
            font-size: 16px;
        }
    }
    &__client-name {
        color: $font-col-black;
        font-family: $Kaushan-font;
        font-size: 24px;
        font-weight: 400;


        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 60px;
            height: 3px;
            background-color: $before-col;
            margin-right: 10px;
        }
    }
}


// Who we are

.who-we-are {
    padding-top: 90px;

    @media (max-width: 767px){
        padding-top: 40px;
    }
}

.our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-box {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.employee {
    display: flex;
    flex-direction: column;
    width: 32%;

    @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
    position: relative;
    background-color: #95e1d3;
    display: flex;
    flex-direction: column;
    cursor: pointer;

        &:hover .employee__img {
            transform: translate3d(-10px, -10px, 0);
        }

        &:hover .employee__gradient {
            transform: translate3d(-10px, -10px, 0);
            opacity: 1;
        }
    }

    &__img {
        width: 100%;
        transition: all 0.2s ease-in-out;
    }

    &__gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
        opacity: 0;
        transition: all 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__social {
        width: 56px;
        height: 56px;
        background-color: #fce38a;
        color: $before-col;
        font-size: 30px;
        line-height: 56px;
        border-right: 1px solid $before-col;
        transition: all 0.2s ease-in-out;

        &:last-child {
            border-right: 0px;
        }

        &:hover {
            background-color: $before-col;
        }

        &:hover .fa-facebook-f {
            color: $font-col-white;
        }
        &:hover .fa-twitter {
            color: $font-col-white;
        }
        &:hover .fa-pinterest-p {
            color: $font-col-white;
        }
        &:hover .fa-instagram {
            color: $font-col-white;
        }
    }
}

.text-mont14px {

    &_emploee {
        padding: 30px 0 10px 0;
    }
}

.text-roboto15px {

    &_emploee {
        font-style: italic;
    }
}

.barbershop-icon {
    background-color: #f8f8f8;
    padding: 50px 0;
    margin-top: 100px;

    @media (max-width: 767px){
        padding: 20px 0;
        margin-top: 40px;
    }

    &__img {
        width: 100%;
        margin: 0 auto;
    }
}


// Some of our work

.our-work {
    padding: 90px 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px){
        padding: 40px 0;
    }

    &__title-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__coments {
        padding-top: 100px;

        @media (max-width: 767px){
            padding-top: 40px;
        }
    }
}

.some-design {
    display: flex;

    &__col {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__box {
        position: relative;
        
        &:hover .some-design__section {
            opacity: 1;
        }
    }

    &__img {
        width: 100%;
    }

    &__section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            display: none;
        }
    }
}

.text-mont14px {

    &_design {
        padding: 20px 0 10px 0;
    }
}


//  What people say

.what-people-say {
    width: 100%;
    background: url("../images/imageedit_1_5622488734.png") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
    opacity: 0.9;

    @media (max-width: 767px) {
        padding-top: 40px;
    }

    &__title-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.clients {
    display: flex;

    @media (max-width: 767px){
        flex-direction: column;
    }

    &__col {
        display: flex;
        flex-direction: column;
    }

    &__box {
        display: flex;
        margin: 30px 15px;

        @media (max-width: 767px) {
            margin: 30px 0;
        }
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding-left: 30px;

        @media (max-width: 767px) {
            padding-left: 15px;
        }
    }
}

.text-roboto15px {

    &_clients {
        padding: 15px 0 20px 0;
        color: $font-col-black;
        font-style: italic;

        &::after {
            content: "";
            display: block;
            margin-top: 20px;
            width: 20%;
            height: 3px;
            background-color: $before-col;
        }
    }
}



//  Latest blog

.latest-blog {
    padding: 90px;

    @media (max-width: 767px){
        padding: 40px;
    }
}

.our-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.blog {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px){
        flex-direction: column;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 32%;

        @media (max-width: 767px){
            width: 100%;
            max-width: 390px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__header {
        position: relative;
    }

    &__img {
        width: 100%;
    }

    &__data {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        left: -10px;
        bottom: 10px;
        width: 60px;
        height: 70px;
        background-color: #95e1d3;

        &_t1 {
            color: $font-col-white;
            font-family: $Montserat-font;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &_t2 {
            font-family: $Roboto-font;
            color: $font-col-white;
            font-size: 15px;
            font-weight: 300;
            font-style: italic;
        }
    }

    &__counter {
        display: flex;
    }

    .blog__seen,
    .blog__coment {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blog__seen {
        margin-right: 20px;
    }
}

.text-mont14px {

    &_blog {
        padding: 20px 0;
    }
}

.text-roboto15px {
    
    &_blog {
        width: 100%;
        position: relative;
        padding-bottom: 40px;

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: 25%;
            width: 100%;
            height: 1px;
            background-color: #e5e5e5;
        }
    }

    &_blog-counter {
        margin-left: 5px;
    }

}

// Open map

.open-map {
    width: 100%;
    background: url("../images/Layer_59.png") center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

// Footer

.footer {
    padding: 80px 0;
    background-color: #f8f8f8;

    @media (max-width: 767px){
        padding: 40px 0;
    }
    &__block {
        display: flex;
        justify-content: space-between;
    }
}

.footer-mogo {
    display: flex;
    flex-direction: column;
    width: 48%;

    @media (max-width: 767px){
        width: 100%;
    }

    &__title {
        color: #cccccc;
        font-family: $Montserat-font;
        font-size: 46px;
        font-weight: 700;
    }

    &__15k {
        font-size: 18px;
        font-weight: 700;
        color: $font-col-black;
        font-family: $Montserat-font;
        position: relative;
        padding-bottom: 40px;

        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: 25%;
            width: 100%;
            height: 1px;
            background-color: $font-col-black;
        }
    }

    &__folowers {
        color: $font-col-black;
        font-family: $Montserat-font;
        font-size: 14px;
        font-weight: 400;
        margin-left: 5px;
    }

    &__follow {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
    }

    &__soc {
        color: #95e1d3;
        font-size: 16px;
        margin-left: 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $before-col;
        }
    }
}

input {
    &[type=email] {
        width: 200px;
        height: 40px;
        border: 1px solid #e7e7e7;
        background-color: #ffffff;
        padding: 13px;
    }

    &[type=submit] {
        cursor: pointer;
        width: 150px;
        height: 40px;
        background-color: #95e1d3;
        border: 1px solid #95e1d3;
        font-family: $Montserat-font;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: $font-col-white;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $before-col;
        }
    }
}

.footer-blog {
    display: flex;
    flex-direction: column;
    width: 48%;

    @media (max-width: 767px){
        display: none;
    }

    &__block {
        display: flex;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
}

.text-mont14px{
    &_marg {
        margin-bottom: 40px;
    }

    &_font-size {
        font-size: 12px;
    }
}